.player {
  border: 1px solid black;
}
.player > p {
  display: inline-block;
  width: 100%;
}
.players-container {
  text-align: center;
  display: inline-block;
  width: 30%;
}
.tools {
  width: 50%;
  display: inline-block;
  float: right;
}
.tools > label {
  width: 100%;
  display: inline-block;
  margin-bottom: 0.4em;
}
.tools > label > input {
  display: inline-block;
  width: 50%;
  padding: 0.5em;
}
.tools > button {
  padding: 0.6em;
  margin-left: 0.4em;
}
